[submodule "libraries/JLCSMT_LIB"]
	path = libraries/JLCSMT_LIB
	url = https://github.com/actiBMS/JLCSMT_LIB
[submodule "libraries/jlcpcb-design-rules-stackups"]
	path = libraries/jlcpcb-design-rules-stackups
	url = https://github.com/ayberkozgur/jlcpcb-design-rules-stackups.git
[submodule "libraries/altium-library"]
	path = libraries/altium-library
	url = https://github.com/issus/altium-library.git
[submodule "libraries/elib-altium"]
	path = libraries/elib-altium
	url = https://github.com/ethanmpeterson/elib-altium.git
